button{
    padding: 1rem;
    background: #2196f3;
    outline: none;
    border: 1px solid #2196f2;
    border-radius: .5rem;
    color:white
}
.explain-ss{
    width: 80vw;
    border-radius: .5rem;
    margin-top: 1rem;
    box-shadow: 0px 2px 10px 2px #00000024; 
}